BOT_OWNERS=6289672845964
BOT_PREFIX=!,.,/,#
SESSION_DB=file:session.db?_foreign_keys=on&_journal_mode=WAL&_busy_timeout=5000
LOGIN_METHOD=pairing
PAIRING_PHONE=6289515999697
LOG_LEVEL=INFO
TIMEZONE=Asia/Jakarta
STICKER_PACK_NAME=michelle-go
STICKER_AUTHOR=Darrel Parker
ANTISPAM_MAX_PER_SECOND=3
ANTISPAM_MAX_PER_MINUTE=20
ANTISPAM_BAN_DURATION_SECS=30
MICHELLEBOT_ENABLED=false
MICHELLEBOT_BASE_URL=https://api.michellebot.my.id
GEMINI_COOKIE=
